/* color palette from <https://github.com/vuejs/theme> */
:root {
  --pro-primary: red;
  --pro-secondary: green;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
